//colors
$primary-color: #ff6347;
$app-bg-color: #333333;
$app-font-color: #fff;
$form-primary-color: rgba(245, 95, 66, 0.78);
$color-orange-light: #f8d0c8;
$color-orange-dark: #543732;
$color-orange: #ff6347;
$color-danger: #fd4a2b;
$color-success: #00b223;
$color-gray: #333;

//font-size
$app-font-size: 16px;
$app-font-size-h1: 22px;
$app-font-size-h2: 20px;
$app-font-size-h3: 18px;
$form-font-size: 14px;


